body {
  font-family: Helvetica;
}

.app {
  display: flex;
  height: 100vh;

  .left-screen {
    flex: 0 0 20%;
  }

  .right-screen {
    flex: 0 0 80%;
    overflow-y: scroll;

    .message-form {
      position: fixed;
      bottom: 0;
      padding: 8px;
      background-color: gray;
      width: 100%;
    }

    .message {
      .created_at {
        margin-left: 0.1rem;
      }

      .content {

      }

      .author {

      }
    }
  }
}
