body {
  font-family: 'Lato', sans-serif;
}

.app {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr fit-content(5%);
  grid-template-columns: 0.5fr 1fr 1fr 1fr;

  .left-screen {
    grid-row: 1/3
  }

  .message-form {
    grid-column: 2/5;
    padding: 8px;
    background-color: gray;
  }

  .right-screen {
    grid-column: 2/5;
    overflow-y: scroll;

    .message {
      .created_at {
        margin-left: 0.1rem;
      }

      .content {

      }

      .author {

      }
    }
  }
}
