body {
  font-family: Helvetica;
}

.app {
  display: flex;
  height: 100vh;

  .left-screen {
    flex: 0 0 20%;
  }

  .right-screen {
    flex: 0 0 80%;
    overflow-y: scroll;

    .message {
      .created_at {
        margin-left: 10px;
      }

      .content {

      }

      .author {

      }
    }
  }
}
